<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///cz/jpikl/yafmt/model/featuremodel.ecore"
            class="cz.jpikl.yafmt.model.featuremodel.FeatureModelPackage"
            genModel="model/featuremodel.genmodel"/>
   </extension>

</plugin>
