<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Feature Model Editor"
            extensions="yafm"
            icon="icons/sample.gif"
            class="cz.jpikl.yafmt.ui.editors.fm.FeatureModelEditor"
            id="cz.jpikl.yafmt.ui.editors.fm.editors.FeatureModelEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cz.jpikl.yafmt.ui.wizards"
            name="YAFMT">
      </category>
      <wizard
            category="cz.jpikl.yafmt.ui.wizards"
            class="cz.jpikl.yafmt.ui.editors.fm.wizards.NewFeatureModelWizard"
            icon="icons/sample.gif"
            id="cz.jpikl.yafmt.ui.editors.fm.wizards.NewFeatureModelWizard"
            name="New Feature Model Wizard">
      </wizard>
   </extension>

</plugin>
