<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="YAFMT"
            id="cz.jpikl.yafmt.views.featuremodel.FeatureModelView">
      </category>
      <view
            name="Feature Model View"
            icon="icons/sample.gif"
            category="cz.jpikl.yafmt.views.featuremodel.FeatureModelView"
            class="cz.jpikl.yafmt.views.featuremodel.view.FeatureModelView"
            id="cz.jpikl.yafmt.views.featuremodel.views.FeatureModelView">
      </view>
   </extension>

</plugin>
