<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

 <extension
       point="cz.zcu.yafmt.clang.ui">
    <editingSupport
          class="cz.zcu.yafmt.clang.bcl.ui.BooleanConstraintLanguageEditingSupport"
          languageId="cz.zcu.yafmt.clang.BooleanConstraintLanguage">
    </editingSupport>
 </extension>
 <extension
       point="org.eclipse.ui.startup">
      <startup
            class="cz.zcu.yafmt.clang.bcl.ui.externals.ActiveEditorTracker">
      </startup>
 </extension>

</plugin>
