<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cz.jpikl.yafmt.editors.featuremodel.editor.FeatureModelEditor"
            contributorClass="cz.jpikl.yafmt.editors.featuremodel.editor.FeatureModelActionBarContributor"
            extensions="yafm"
            id="cz.jpikl.yafmt.editors.featuremodel.editors.FeatureModelEditor"
            name="Feature Model Editor">
      </editor>
   </extension>

</plugin>
