<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cz.jpikl.yafmt.clang" name="YAFMT Constraint Language" schema="schema/cz.jpikl.yafmt.clang.exsd"/>
   <extension
         point="cz.jpikl.yafmt.clang">
      <language
            class="cz.jpikl.yafmt.clang.scl.SimpleConstraintLanguage"
            id="cz.jpikl.yafmt.clang.scl"
            name="Simple Constraint Language"
            shortName="SCL">
      </language>
   </extension>

</plugin>
