<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cz.jpikl.yafmt.clang" name="YAFMT Constraint Language" schema="schema/cz.jpikl.yafmt.clang.exsd"/>
   <extension-point id="cz.jpikl.yafmt.clang.ui" name="YAFMT Constraint Language Editing Support" schema="schema/cz.jpikl.yafmt.clang.ui.exsd"/>
   <extension
         point="cz.jpikl.yafmt.clang">
      <language
            class="cz.jpikl.yafmt.clang.base.BaseLanguage"
            id="cz.jpikl.yafmt.clang.base"
            name="Base Language"
            shortName="BL">
      </language>
   </extension>

</plugin>
