<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

 <extension
       point="cz.jpikl.yafmt.clang.ui">
    <editingSupport
          class="cz.jpikl.yafmt.clang.bcl.ui.BooleanConstraintLanguageEditingSupport"
          languageId="cz.jpikl.yafmt.clang.BooleanConstraintLanguage">
    </editingSupport>
 </extension>   

</plugin>
